.clear {
    /* Cách 2 để giải quyết vấn đề float */
    clear: both;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, tròn, vuông,...) 
 */

#main {

}

#header {
    height: 46px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a, 
#nav > li:hover > a {
    color: #000;
    background-color: #cccccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li {
    /* display: block; */
    width: 100%;
}

#nav .subnav a {
    padding: 0px 12px;
    line-height: 38px;
}

#nav .arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0px 21px;
}

#header .search-icon {
    color: #ffffff;
    font-size: 18px;
    line-height: 46px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(https://www.w3schools.com/w3images/chicago.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 0;
    padding: 32px 16px;
    left: 50%;
    transform: translateX(-50%);
    /* Cách khác: width: 100% */
    /* Cách khác: left: 0; right: 0 */
}

#slider .slider-heading {
    font-size: 24px;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 400;
    margin: 10px 0;
}

#slider .slider-content {
    font-size: 15px;
    color: #ffffff;
    margin: 15px 0;
}

#content {
    
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0;
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 200;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    font-weight: 100;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    text-align: justify;
    font-size: 15px;
    margin: 15px 0;
}

#content .member-list {
    padding: 32px 0;
    /* Cách 1 để giải quyết vấn đề float */
    /* overflow: hidden; */
}

#content .member-info {
    float: right;
    text-align: center;
    /* Cách 1
    width: 33.33333%; */
    /* Cách 2 */
    width: calc(100% / 3);
}

#content .member-name {
    font-size: 15px;
}

#content .member-image {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#footer {
    
}
